<form method="POST" action='@Url.Action("Autenticar")'>
    <label for="">Nome</label>
    <input name="Nome" type="text">

    <label for="">Senha</label>
    <input name="Senha" type="text">
</form>