<form method="POST" action='@Url.Action("Logar")'>
    <label for="">Email</label>
    <input name="Email" type="text">

    <label for="">Senha</label>
    <input name="Senha" type="text">
    <button>Enviar</button>
</form>